.Fond {
    background-image: url("/assets/CadreJetSauvegarde.png");
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;
    width: 314px;
    height: 280px;
    padding-top: 10px;
    padding-left: 10px;
    
    //border: solid 1px red;
}