.Fond {
    background-image: url("/assets/CadreLesCaracteristiques.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 160px;
    height: 1161px;
    padding-top: 44px;
    margin-left: 10px;
    
    //border: solid 1px red;
}