.valComp {
    //border: solid 1px green;
    
    display: inline-block;
    width: 50px;
    font-size: large;
    text-align: center;
}
.nomComp {
    font-size: large;
    text-align: center;
}
.chkComp {
    position: relative;
    top: 7px;
    left: 10px;
    width: 30px;
    height: 30px;

    //border: solid 1px green;
}