<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [mode]="isHandset ? 'over' : 'side'" [opened]="isHandset ? false : true">        
        <mat-nav-list>
            <a mat-list-item *ngFor="let menuItem of menuItems" [routerLink]="menuItem.link">{{ menuItem.label }}</a>
        </mat-nav-list>
    </mat-sidenav>    
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button mat-icon-button (click)="drawer.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            <span>Ablanore Suite</span><!-- Titre de votre application -->
        </mat-toolbar>
        <!-- Votre contenu principal ici -->
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>


<!--
    <mat-nav-list>
        <a mat-list-item routerLink="/">Accueil</a>
        <a mat-list-item routerLink="/premier-component">Le composant 1</a>
        <a mat-list-item routerLink="/deuxieme-component">Le composant 2</a>
    </mat-nav-list>
-->